body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo,.footer,.finance,.book,.userInfo,form {
  padding: 10px;
  border: solid;
  margin: 5px;
  border-radius: 10px;
}

.authors {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author,.showMore {
  padding: 5px;
  width: 45%;
  overflow: hidden;
  border: solid;
  margin: 5px;
}

.avatar {
  border-radius: 30%;
  float: right
}

.column {
  font-weight: bold;
}

form>.row {
  display: flex;
  padding: 5px;
}

label {
  min-width: 80px;
}

input, textarea{
  width: 180px;
}

textarea{
  width: 180px;
  height: 180px;
}
